* {
     font-family: 'PT Sans', sans-serif;
}

body {
    background: #f6f6f6;
}

 #footer-Text{
     margin-top: 15px;
 
 }
 header nav {
     background-color: #f6f6f6;
     margin:0px 0px 0px 0px;
     z-index: 20;
     position: relative;
     opacity: .8;

 }

 .navbar-brand{
     margin-left: 20px;
 }

 .img-logo {
    max-width: 150px;
 }
 .slide{
     margin-top: -150px;
     z-index: 10;
     position: relative;

 }

 .custom-form {
     margin-top: 10px;
     margin-bottom: 30px;
 }

 .carousel-caption h3, .carousel-control-prev-icon, .carousel-control-next-icon {
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
 }

 .carousel-control-next-icon, .carousel-control-prev-icon {
     width: 45px !important;
     height: 45px !important;
 } 

.modal-header{
    color: lightgray;
    text-decoration-color: lightgray;
}

 #ajax_loader{
    display: block; 
    margin-left: 40%; 
    margin-top: 2%;
}  

 #btn-clear{
     float: right;
 }

  #btn-submit{
     float: left;
 }
 
 main {
     background: #8DCAFF;
     /*padding-bottom: 1rem;*/
 }

 .carousel-caption {
     background: url("../images/pattern.jpg") repeat center;
     padding-top:45px;
     padding-bottom:45px;
     color: #fff;
     font-weight: bold;
     opacity: 0.9;
     bottom: 0px;

 }

 .table {
     margin-bottom: 0 !important;
 }

 footer {
     background-color:#083B66;
     color: #fff;
     text-align: center;
     padding: 15px 0px;
 }

 .box-search {
     margin-top: 25px;
     display: none;
 }
 
 .box-login {
     background: #083B66;
     padding: 20px 0px 0px;
 }
 
 .box-login label {
     color: #fff;
 }

 .table-result {
     padding-bottom: 15px;
 }

 .welcome {
     color: #fff;
     margin-bottom: 15px;
 }
 
 .last {
     color: #fff;
 }

 .btnLastResult {
     display: block;
     margin: 0 auto 10px;
 }