
.footer {
     left: 0;
     bottom: 0;
     width: 100%;
     height: 65px;
     background-color:aqua;
     color: white;
     text-align: center;
     }
 #footer-Text{
     margin-top: 15px;
 
 }
 #carouselExampleControls{
 }
 header{
     background-color: aqua;
 }

 .navbar-brand{
     margin-left: 50%;
 
 }
 
 form{
     margin-left: 5px;
     margin-top: 20px
 }  
 .slide-show{
     height: 500px;
     background: url("../images/heart-and-stethoscope-1.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 form{
     margin-bottom: 30px;
 }
 h3{
     color: black;
 }
 