* {
     font-family: 'PT Sans', sans-serif;
}

body {
    background: #f6f6f6;
}

 #footer-Text{
     margin-top: 15px;
 
 }
 header nav {
     background-color: #f6f6f6;
     margin:0px 0px 0px 0px;
 }

 .navbar-brand{
     margin-left: 20px;
 
 }
  
 .slide-show{
     height: 500px;
     background: url("../images/heart-and-stethoscope-1.jpg");
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 form{
     margin-bottom: 30px;
 }

 .carousel-caption h3, .carousel-control-prev-icon, .carousel-control-next-icon {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .carousel-control-next-icon, .carousel-control-prev-icon {
     width: 45px !important;
     height: 45px !important;
 }   

 #btn-clear{
     float: right;
 }

  #btn-submit{
     float: left;
 }
 
 main {
     background: #8DCAFF;
     padding-bottom: 1rem;
 }

 .table {
     margin-bottom: 0 !important;
 }

 footer {
     background-color:#083B66;
     color: #fff;
     text-align: center;
     padding: 15px 0px;
 }